<div class="contenedor col-auto">

  <!-- bloque people - Mostramos si existe user -->
  <div class="people col-md-7 col-lg-8 p-0" *ngIf="followed">

    <h1 class="titulo3 heading3-black-bold col-auto"> {{title}} {{user.name}}</h1>
    <!-- Listado -->
    <div *ngFor="let follow of followed" class="item-user">
      <div class="card card-default col-auto">
        <div class="card-body col-auto">

          <!-- Bloque para la imagen y el texto -->
          <div class="imagen-texto">

            <div class="float-left-img">
              <a class="" href="">
                <!-- Imprimimos la url de la api -->
                <img class="image-user" src="{{url + 'get-image-user/'+ follow.user.image}}" *ngIf="follow.user.image">
                <img class="image-user" src="assets/no-user.png" *ngIf="!follow.user.image">
              </a>
            </div>

            <div class="float-left-data">
              <p class="block-name">
                <a class="user-name" [routerLink]="['/perfil', follow.user._id]">
                  {{follow.user.name+'  '+follow.user.surname}}
                </a>
              </p>
              <p class="nick-name">{{follow.user.nick}}</p>
            </div>

          </div>
          <!-- Fin div imagen-texto -->

          <!-- Inicio bloque botones seguimiento -->
          <div class="float-right" *ngIf="follow.user._id != identity._id">

            <!-- Seguir-->
            <button class="btn btn-success boton-mas" *ngIf="follows.indexOf(follow.user._id)<0"
              (click)="followUser(follow.user._id)">
              <span class="icono-mas fas fa-plus-circle">
              </span> Seguir
            </button>
            <!-- FIN seguir -->

            <!-- control botones siguiendo y dejar de seguir -->
            <button class="btn btn-primary" *ngIf="follows.indexOf(follow.user._id)>=0"
              (mouseenter)="mouseEnter(follow.user._id)" (mouseleave)="mouseLeave(follow.user._id)"
              (click)="unfollowUser(follow.user._id)" [class.btn-danger]="follow.user._id == followUserOver">

              <span class="icono-menos" *ngIf="follow.user._id == followUserOver; else following">
                <span class="fas fa-minus-circle"></span>
                Dejar de seguir
              </span>

              <ng-template #following>
                <span class="icono-mas">
                  <i class="fas fa-check-circle"></i>
                </span>
                Siguiendo
              </ng-template>

            </button>
            <!-- FIN control botones siguiendo y dejar de seguir -->

          </div>
          <!-- Fin bloque botones seguimiento -->

        </div>
      </div>
    </div>
    <!-- Fin Listado -->

    <!-- Paginación -->
    <ul class="pagination float-right">
      <!-- redirección a siguiendo -->
      <li *ngIf="page > 1"><a [routerLink]="['/seguidores', userPageId, prev_page]"
          class="btn btn-outline-info boton-prev">Anterior</a>
      </li>
      <li *ngIf="pages != page"><a [routerLink]="['/seguidores', userPageId, next_page]"
          class="btn btn-outline-info boton-next">Siguiente</a></li>
    </ul>
    <!-- Fin Paginación -->
  </div>
  <!-- Fin bloque gente -->

  <sidebar class="col-lg-4"></sidebar>

</div>
<!-- fin bloque people - Mostramos si existe following -->
