// Variables---------------------------------------------


// $important: 'true';

// //Screen sizes for media queries
$nosize:0px;
$mobile: 616px;
$tablet: 768px;
$desktop: 2500px;

// $nosize:0px;
// $mobile:768px;
// $tablet: 1025px;
// $desktop: 2400px;

//Colours
$red: red;
$lightRed: #f8d7da;
$borderRed: #f5c6cb;
$green: green;
$lightGreen: #d4edda;
$borderGreen: #c3e6cb;
$blue: #151e99;
$black: black;
$white: white;
$themeColor: #e53c37;
$yellow: yellow;


//Font weights
$light: 200;
$regular: 500;
$bold:700;
$bolder:900;

// ------------Font Sizes----------------------------

//Heading sizes
$heading1: 3.5em;
$heading2: 3em;
$heading3: 2.5em;


//Text sizes
$sizemin1: .1em;
$sizemin4: .4em;
$sizemin5: .5em;
$size0:1em;
$size1: 1.1em;
$sizemin1-18: 1.18em;
$size2: 1.2em;
$size3: 1.3em;
$size4: 1.4em;
$size5: 1.5em;
$size6: 1.6em;
$size7: 1.7em;
$size8: 1.8em;
$size9: 1.9em;
$size10: 2em;
$size11: 2.5em;
$size4em: 4em;
$size31em: 31em;
$size46px: 46px;
$size165px: 192px;


//** Scales ***//
$scale1:1;
$scale2:2;
$scale3:2;



//--------------Mixins-----------------------

//Mixin for general elements
//for text items
// el color hay que --definirlo o null-- y required hay que poner --'true' o null--
@mixin font-color-size-weight($color:false, $size:false, $scale:false, $weight:false, $required:false) {
    //Permite aplicar más estilos en el styles.scss
    @content;

    //Formatos por defecto
    $defaultcolor: $black;
    $defaultscale: 1;
    $defaultsize: 1;
    $sizebeforescaling: 1;
    $defaultweight: $regular;

    //Gestiona lógica de formato a aplicar

    //--------COLOR--------// 
    @if $color {
        @if $required {
            color: $color !important;
        }

        @if $required==null {
            color: $color;
        }
    }

    @if $color==null {
        @if $required {
            color: $defaultcolor !important;
        }


        @if $required==null {
            color: $defaultcolor;
        }
    }

    //--------SIZE--------// 
    @if $size {
        @if $required {
            $sizebeforescaling: $size !important;
        }

        @if $required==null {
            $sizebeforescaling: $size;
        }
    }

    @if $size==null {
        @if $required {
            $sizebeforescaling: $defaultsize !important;
        }

        @if $required==null {
            $sizebeforescaling: $defaultsize;
        }
    }

    //--------SCALE--------// 
    @if $scale {
        @if $required {

            $operation: calc($scale * $sizebeforescaling);
            font-size: $operation !important;
        }

        @if $required==null {
            font-size: $scale * $sizebeforescaling;
        }
    }

    @if $scale==null {
        @if $required {
            font-size: $defaultscale * $defaultsize !important;
        }

        @if $required==null {
            font-size: $defaultscale * $defaultsize;
        }
    }

    //--------SCALE--------// 
    @if $weight {
        @if $required {
            font-weight: $weight !important;
        }

        @if $required==null {
            font-weight: $weight;
        }
    }

    @if $weight==null {
        @if $required {
            font-weight: $defaultweight !important;
        }

        @if $required==null {
            font-weight: $defaultweight;
        }
    }
}

//For divs
@mixin backgroundColor-borderColor($backgroundColor:false, $borderColor:false) {
    @content;

    background-color: $backgroundColor;
    border-color: $borderColor;

    @if $backgroundColor {
        background-color: $backgroundColor;
    }

    @else {
        $backgroundcolor: unset;
    }

    @if $borderColor {
        border-color: $borderColor;
    }

    @else {
        border-color: $bold;
    }
}

//Mixins for media queries----------------

@mixin nosize-mobile {

    @media screen and (min-width: #{$nosize}) and (max-width: #{$mobile}) {
        @content;
    }
}


@mixin nosize-tablet {

    @media screen and (min-width: #{$nosize}) and (max-width: #{$tablet}) {
        @content;
    }
}


@mixin mobile-tablet {

    @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-desktop {
    @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile-desktop {

    @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) {
        @content;
    }
}

@mixin foto-width($width:false, $scale:false, $required:false) {
    //Permite aplicar más estilos en el styles.scss
    @content;

    // Formatos por defecto
    $defaultWidth: 2;
    $defaultScale: 1;
    $widthBeforeScaling: 1;

    //Gestiona lógica de formato a aplicar

    //--------Width--------// 
    @if $width {
        @if $required {
            $widthBeforeScaling: $width !important;
        }

        @if $required==null {
            $widthBeforeScaling: $width;
        }
    }

    @if $width==null {
        @if $required {
            $widthBeforeScaling: $defaultWidth !important;
        }

        @if $required==null {
            $widthBeforeScaling: $defaultWidth;
        }
    }

    //--------SCALE--------// 
    @if $scale {
        @if $required {
            $widthToApply: calc($scale * $widthBeforeScaling);
            width: $widthToApply !important;
        }

        @if $required==null {
            width: $scale * $widthBeforeScaling;
        }
    }

    @if $scale==null {
        @if $required {
            width: $defaultscale * $defaultWidth !important;
        }

        @if $required==null {
            width: $defaultscale * $defaultWidth;
        }
    }

}

@mixin foto-height($height:false, $scale:false, $required:false) {
    //Permite aplicar más estilos en el styles.scss
    @content;

    // Formatos por defecto
    $defaultHeight: 2;
    $defaultScale: 1;
    $heightBeforeScaling: 1;

    //Gestiona lógica de formato a aplicar

    //--------Width--------// 
    @if $height {
        @if $required {
            $heightBeforeScaling: $height !important;
        }

        @if $required==null {
            $heightBeforeScaling: $height;
        }
    }

    @if $height==null {
        @if $required {
            $heightBeforeScaling: $defaultHeight !important;
        }

        @if $required==null {
            $heightBeforeScaling: $defaultHeight;
        }
    }

    //--------SCALE--------// 
    @if $scale {
        @if $required {
            $heightToApply: calc($scale * $widthBeforeScaling);
            height: $heightToApply !important;
        }

        @if $required==null {
            height: $scale * $heightBeforeScaling;
        }
    }

    @if $scale==null {
        @if $required {
            height: $defaultscale * $defaultHeight !important;
        }

        @if $required==null {
            height: $defaultscale * $defaultHeight;
        }
    }

}
