//----- Imports from other scss files ------//
@import 'functions.scss';
@import "variables.scss";
@import 'mixins.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";



//--------------- Generals ---------------//
html {
    box-sizing: border-box;
}


//------------- Heading formats ------------//
.heading3-black-bold {
    width: 765, 2px !important;
    @include font-color-size-weight($black, $heading3, $scale1, $bold, null);
    margin: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(226, 226, 226);
    // Todos los campos se pueden definir como null
    //el último será 'true' cuando corresponda o null
}

.text-button-success {
    @include font-color-size-weight($white, $size0, $scale1, $regular, 'true');
}



//------------- Alert components ------------//

//Div container of alerts
.alertDiv {
    border-radius: 5px;
    margin: 1em 1em;
    min-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @include nosize-mobile {
        flex-direction: column;
    }

    @include backgroundColor-borderColor($lightGreen, $borderGreen);

    //--Success--//
    .text-alert-success {
        @include nosize-mobile {
            // margin-top: $sizemin4;
        }

        text-align: center;
        @include font-color-size-weight($green, $size0, $scale1, $bold, null);
    }

    //--Error--//
    .text-alert-error {
        text-align: center;
        @include font-color-size-weight($red, $size0, $scale1, $bold, null);
    }

    //Text fommats
    .login-link {
        @include nosize-tablet {
            margin-top: $size1 !important;
        }

        @include font-color-size-weight($white, $size0, $scale1, $regular, null);
    }
}


//----------------- Labels -----------------//

label {
    @include font-color-size-weight($black, $size4em, $scale1, $bolder, 'true')
}

input {
    @include font-color-size-weight($black, $size4em, $scale1, $regular, 'true')
}


//-------------- HomeComponent ----------------//

.centrar-jumbotron {
    display: flex !important;
    flex-direction: row !important;
    align-self: center !important;
    justify-content: center !important;
    align-content: center !important;
    margin-top: 5em !important;
}

.jumbotron {
    min-width: 400px !important;
    max-width: auto !important;
    padding: 2em 4em !important;
    border-radius: 8px !important;
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    justify-content: center !important;
    align-content: center !important;
    margin-top: 5em !important;
}

.buttons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: .8em !important;
}

.btn-warning {
    background-color: $white !important;
    border-color: #c0c0c0 !important;
}

.btn-warning:hover {
    background-color: rgb(196, 196, 196) !important;
    color: white !important;
}

.btnMenu {
    padding: .5rem 1.5rem !important;
    margin-left: 1em;
    font-size: .8em !important;
    border-radius: 4px !important;
}

.btnMenu:nth-child(1) {
    margin-left: 0em;
}

//Avatar del edit-form
.edit-form .edit-avatar{
    // @include foto-width($size31em,$scale1,null);
    @include nosize-tablet{
        width:100%;
    }
}