<!-- contenedor general -->
<div class="contenedor">

  <!-- bloque perfil -->
  <div id="profile-block" class="col-8">
    <h1 class="titulo3 heading3-black-bold col-auto">{{title}}</h1>

    <!-- Que esto se muestre si user existe -->
    <div id="data-profile" *ngIf="user">
      <div class="avatar">
        <!-- Que esto se muestre si existe imagen de usuario -->
        <img src="{{url + 'get-image-user/'+user.image}}" *ngIf="user && user.image">
        <!-- Si no hay imagen de usuario, muestra la imagen por defecto -->
        <img src="assets/no-user.png" *ngIf="!user.image">
      </div>

      <div class="user-name">

        <!-- etiqueta te sigue -->
        <div class="follow badge badge-secondary float-left" *ngIf="followed">
          Te sigue
        </div>
        <!-- fin etiqueta te sigue -->
        <p class="name">{{user.name + ' ' + user.surname}}</p>
        <p class="nick">{{user.nick}}</p>

        <!-- botón si no lo seguimos -->
        <button class="btn btn-lg btn-success" *ngIf="!following" (click)="followUser(user._id)"> Seguir
        </button>
        <!-- fin botón si no lo seguimos -->

        <!-- botones si lo seguimos, siguiendo y dejar de seguir -->
        <button type="button" class="btn btn-lg btn-primary" *ngIf="following" (click)="unfollowUser(user._id)"
          (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()"
          [class.btn-danger]="user._id == followUserOver">

          <!-- Mostrar u ocultar el botón según sea siguiendo o dejar de seguir -->

          <!-- Se muestra este botón, Si la variable userid es = al followUserOver -->
          <span *ngIf="user._id == followUserOver; else following">
            Dejar de seguir
          </span>

          <!-- El ng-template que se ejecuta cuando pase por el else (se cumpla #following)
            y muestra el texto Siguiendo, a su vez, el botón cambia de color pues
            inicialmente tiene color btn-primary y al hacer mouseenter, cambia a btn-danger. -->
          <ng-template #following>
            Siguiendo
          </ng-template>

        </button>
        <!-- fin botones si lo seguimos, siguiendo y dejar de seguir -->
      </div>

      <!-- bloque estadísticas -->
      <div id="stats">

        <!-- bloque-siguiendo -->
        <div class="following-data">
          <a [routerLink]="['/siguiendo', user._id, 1]">
            <span class="label-stats">
              Siguiendo
            </span>
            <span class="number-stats" *ngIf="stats">
              {{stats.following}}
            </span>
          </a>
        </div>
        <!-- fin bloque-siguiendo -->

        <!-- div separador vertical-->
        <div class="separador-vertical"></div>

        <!-- bloque-seguidores -->
        <div class="following-data">
          <a [routerLink]="['/seguidores', user._id, 1]">
            <span class="label-stats">
              Seguidores
            </span>
            <span class="number-stats" *ngIf="stats">
              {{stats.following_me}}
            </span>
          </a>
        </div>
        <!--fin bloque-seguidores -->

        <!-- div separador vertical-->
        <div class="separador-vertical"></div>

        <!-- bloque-publicaciones -->
        <div class="following-data">
          <a href="#">
            <span class="label-stats">
              Publicaciones
            </span>
            <span class="number-stats" *ngIf="stats">
              {{stats.publications}}
            </span>
          </a>
        </div>
        <!--fin bloque-publicaciones -->

      </div>
      <!-- fin bloque estadísticas -->

    </div>
    <!-- fin bloque data profile -->

    <!-- - div que se muetra si existe user e inyectamos etiqueta publications
    - Pasamos el parámetro user._id que será el @Input de publications.ts -->
    <div id="publications-injected" *ngIf="user">
      <publications [user]="user._id"></publications>
    </div>
    
  </div>
  <!-- fin bloque perfil -->

  <sidebar class="col-4"></sidebar>
</div>
<!-- fin contenedor general -->
