@import '../../../assets/mixins.scss';
@import '../../../assets/functions.scss';
@import '../../../assets/variables.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh !important;
}

#profile-block {
    padding: 0;
    height: 300px;
}

#data-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 70%;
}

#data-profile .avatar {
    margin: 25px;
    height: 180px;
    border-radius: 400px;
    overflow: hidden;
}

#data-profile .avatar img {
    height: 100%;
}

#data-profile .user-name {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#data-profile .user-name .name {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin: 0;
}

#data-profile .user-name .nick {
    font-size: 24px;
    color: gray;
    margin: 0;
}

#data-profile .user-name .follow {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#data-profile .user-name button {
    margin: 5px 0;

}

#data-profile #stats {
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 100px;
    border-left: 2px solid #ccc;
    padding-left: 38px;
    height: 200px;
}


#data-profile #stats a {
    font-size: 20px;
    line-height: 35px;
    color: #555;
}

#publications-injected{
 margin-top:60px;
}

sidebar {
    padding: 0 10px 0 0;
}