<div class="contenedor col-auto">

    <!-- bloque1 - Mostramos si existe message -->
    <div class="people col-md-7 col-lg-8 p-0" *ngIf="messages">
  
      <h3>{{title}}</h3>
  
      <!-- Listado -->
      <div *ngFor="let message of messages" class="item-user">
        <div class="card card-default col-auto"  *ngIf="message.emitter">
          <div class="card-body col-auto">
  
            <div class="float-left-img">
              <a class="" href="">
                <!-- Imprimimos la url de la api -->
                <img class="image-user" src="{{url + 'get-image-user/'+ message.emitter.image}}"
                  *ngIf="message.emitter.image">
                <img class="image-user" src="assets/no-user.png" *ngIf="!message.emitter.image">
              </a>
            </div>
  
            <div class="float-left-data">
              <p class="block-name">
                <a class="user-name" [routerLink]="['/perfil', message.emitter._id]">
                  {{message.emitter.name+'  '+message.emitter.surname}}
                </a>
                &nbsp;|&nbsp;
                <span class="nick-name">{{message.emitter.nick}}</span>
                &nbsp;|&nbsp;
  
                <!-- OPERATIVA PARA SACAR LA FECHA DE CREACIÓN DE LA PUBLICACIÓN:
                  1. Created_at es el timestamp 
                  2. Le paso la pipe amFromUnix para que transforme el timestamp a formato de fecha clásico
                  3. Le paso la pipe para que lo saque en español con amLocale: 'es'
                  4. Le paso la pipe amTimeAgo para que calcule desde la fecha de creación
                -->
                <span class="date nick-name">
                  {{message.created_at | amFromUnix | amLocale: 'es' | amTimeAgo}}
                </span>
              </p>
              <p>
                {{message.text}}
              </p>
            </div>
  
          </div>
        </div>
      </div>
      <!-- Fin Listado -->
  
      <!-- Paginación -->
      <ul class="pagination float-right">
      redirección a siguiendo
       <li *ngIf="page > 1"><a [routerLink]="['/mensajes/enviados', prev_page]"
            class="btn btn-outline-info boton-prev">Anterior</a>
        </li>
        <li *ngIf="pages != page"><a [routerLink]="['/mensajes/enviados', next_page]"
            class="btn btn-outline-info boton-next">Siguiente</a></li>
      </ul>
      <!-- Fin paginación -->
  
      </div>
      <!-- Fin bloque1 - Mostramos si existe message  -->
  
    </div>
    <!-- fin contenedor -->
  