<div class="col-lg-5 register">

  <h1 class="heading3-black-bold">{{title}}</h1>
  
  <div class="alertDiv" *ngIf="status=='success'">
    <span class="text-alert-success">Registro completado correctamente</span>
    <a class="btn btn-md btn-primary login-link" [routerLink]="['/login']">
      <span class="login-link">Identificate aquí</span>
    </a>
  </div>

  <div class="alertDiv alert-danger" *ngIf="status=='error'">
    <span class="text-alert-error"> Registro no completado, inténtalo de nuevo</span>
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">

    <p>
      <label>Nombre</label>
      <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
      <span class="text-danger" *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
    </p>

    <p>
      <label>Apellido</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
      <span class="text-danger" *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>
    </p>

    <p>
      <label>Nombre de usuario</label>
      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
      <span class="text-danger" *ngIf="!nick.valid && nick.touched">El nombre de usuario es obligatorio</span>
    </p>

    <p>
      <label>Correo eletrónico</label>
      <!-- tipo email -->
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <span class="text-danger" *ngIf="!email.valid && email.touched">El correo no es correcto!!</span>
    </p>

    <p>
      <label>Contraseña</label>

      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
        required />
      <span class="text-danger" *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
    </p>


    <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!registerForm.form.valid" />

  </form>

</div>
