@import '../../../assets/mixins.scss';
@import '../../../assets/functions.scss';
@import '../../../assets/variables.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// bloque izquierdo
.publications-block {
    padding: 0 0 0 15px;
}

.titulo3 {
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 15px 15px;
}



// bloque timeline
#publications .item-publication:first-child {
    margin-top: 0em;
}

#publications .item-publication {
    margin: 15px 0px;
    padding: 0px;
}

#publications .card .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
    padding-right: 0px;
}

.card-body .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;

}

.user-info .bloque-imagen-izquierda {
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.user-info .bloque-imagen-izquierda .image-user {
    height: auto;
    width: 100%;
}

.user-info .bloque-user-text-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.user-info .bloque-user-text-derecha .publication-text {
    margin: 0px;
    padding: 0px;
    margin-top: 8px;
}

.card-body .buttons-hide-show-delete {
    margin-right: 15px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-icon a{
    color:unset;
}

.buttons-hide-show-delete i {
    font-size: 1.2em;
}

.img-publication{
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        height: 250px;
    }
}