<div class="contenedor">

  <!-- bloque publications general -->
  <div class="publications-block col-8">

    <h1 class="titulo3 heading3-black-bold col-auto"> {{title}}
      <button type="button" class="btn btn-success btn-sm" (click)="refresh($event)">Mostrar nuevas</button>
    </h1>


    <!-- bloque izquierdo de publicaciones -->
    <div id="publications">
      <div *ngFor="let publication of publications" class="item-publication col-12">
        <div class="card">
          <div class="card-body">


            <div class="user-info">


              <!-- bloque imagen izquierda -->
              <div class="bloque-imagen-izquierda">

                <a href="">
                  <!-- Imprimimos la url de la api -->
                  <img class="image-user" src="{{url + 'get-image-user/'+publication.user.image}}"
                    *ngIf="publication.user.image">
                  <img class="image-user" src="assets/no-user.png" *ngIf="!publication.user.image">
                </a>
              </div>
              <!-- fin bloque imagen izquierda-->


              <!-- bloque-user-text-derecha -->
              <div class="bloque-user-text-derecha">
                <div class="derecha-arriba">
                  <a [routerLink]="['/perfil', publication.user._id]" class="user-name">
                    {{publication.user.name + ' '+ publication.user.surname}}
                  </a>
                  &nbsp;|&nbsp;
                  <span class="date">
                    <!-- OPERATIVA PARA SACAR LA FECHA DE CREACIÓN DE LA PUBLICACIÓN:
                    1. Created_at es el timestamp 
                    2. Le paso la pipe amFromUnix para que transforme el timestamp a formato de fecha clásico
                    3. Le paso la pipe para que lo saque en español con amLocale: 'es'
                    4. Le paso la pipe amTimeAgo para que calcule desde la fecha de creación
                  -->
                    {{publication.created_at | amFromUnix | amLocale: 'es' | amTimeAgo}}
                  </span>
                </div>
                <div class="derecha-abajo">
                  <h4 class="publication-text col-12">
                    {{publication.text}}
                  </h4>
                </div>
              </div>
              <!-- fin bloque-user-text-derecha -->


            </div>
            <!-- fin bloque user info -->

            <!-- bloque botones de mostrar foto publicación si file no es null -->
            <div class="buttons-hide-show-delete">

              <!-- Botón en HTML (lanza el modal en Bootstrap) para borrar publicación si el propietario es el usuario logueado -->
              <button class="button-icon btn btn-danger" *ngIf="publication.user._id == identity._id">
                <a href="#popUpModal{{publication._id}}" role="button" data-toggle="modal"
                  *ngIf="publication.user._id == identity._id">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </button>

              <!-- Modal / Ventana / Overlay en HTML -->
              <div id="popUpModal{{publication._id}}" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"
                          aria-hidden="true">&times;</button>
                      <h4 class="modal-title">¿Estás seguro?</h4>
                    </div>
                    <div class="modal-body">
                      <p>¿Seguro que quieres borrar la publicación?</p>
                      <p class="text-danger font-weight-bold font-italic">
                          Si la borras, no podrás recuperarla.</p>
                      <p>{{publication.text}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="deletePublication(publication._id)">Borrar la publicación
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- fin bloque para borrar publicación-->

              <!-- botón mostrar foto -->
              <div *ngIf="publication.file != 'null'">

                <button class="button-icon btn btn-info" (click)="showThisImage(publication._id)"
                  *ngIf="showImage != publication._id">
                  <i class="far fa-image"></i>
                </button>

                <!-- botón ocultar foto -->
                <button type="button" class="button-icon btn btn-danger" (click)="hideThisImage()"
                  *ngIf="showImage == publication._id">
                  <i class="far fa-times-circle"></i>
                </button>
              </div>
            </div>
            <!-- fin bloque botones de mostrar foto publicación si file no es null -->



          </div>
          <!-- fin card body -->

          <!-- Bloque que se muestra si publication.file existe -->
          <div class="img-publication" *ngIf="publication.file !='null' && showImage == publication._id">

            <!-- Será el singular del array recorrido y la propiedad que queramos mostrar (file, image etc.) -->
            <img src="{{url + 'get-image-pub/' + publication.file}}" />
          </div>

        </div>
        <!-- fin card -->

      </div>
      <!-- fin bucle -->

      <!-- bloque botón infinito -->
      <div class="col-lg-12 mt-3 text-center ">
        <p>
          <!-- Este botón se mostrará cuando noMore sea false -->
          <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
            Var más publicaciones
          </button>
        </p>
      </div>
      <!-- fin bloque botón infinito -->

    </div>
    <!-- fin bloque izquierdo de publicaciones -->



  </div>
  <!-- fin bloque publications general -->

  <sidebar (sended)="refresh($event)" class="col-4"></sidebar>
</div>
