<div class="centrar-jumbotron">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de las publicaciones de tus amigos y comparte tu vida :)</p>
    <p class="buttons-block">
      <a href="#" class="btnMenu btn btn-success btn-lg" role="button">
        Mi perfil
      </a>
      <a href="#" class="btnMenu btn btn-primary btn-lg" role="button">
        Timeline
      </a>
      <a [routerLink]="['/gente']" routerLinkActive="['active']" class="btnMenu btn btn-warning btn-lg" role="button">
        Gente
      </a>
    </p>
  </div>
</div>
