<div class="col-lg-5 register">
  <h1 class="heading3-black-bold">{{title}}</h1>

  <div class="alertDiv" *ngIf="status=='success'">
    <span class="text-alert-success">Datos actualizados correctamente!!</span>
  </div>


  <div class="alertDiv alert-danger" *ngIf="status=='error'">
    <span class="text-alert-error"> Los datos no se han actualizado!!</span>
  </div>

  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12 edit-form">

    <p>
      <label>Nombre</label>
      <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
      <span class="text-danger" *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
    </p>

    <p>
      <label>Apellido</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
      <span class="text-danger" *ngIf="!surname.valid && surname.touched">El apellido es obligatorio</span>
    </p>

    <p>
      <label>Nombre de usuario</label>
      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
      <span class="text-danger" *ngIf="!nick.valid && nick.touched">El nombre de usuario es obligatorio</span>
    </p>

    <p>
      <label>Correo eletrónico</label>
      <!-- tipo email -->
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <span class="text-danger" *ngIf="!email.valid && email.touched">El correo no es correcto!!</span>
    </p>

    <div class="edit-avatar" *ngIf="user.image">
      <img class="edit-avatar" src="{{url+'get-image-user/'+user.image}}"/>
    </div>

    <p>
      <label>Sube tu avatar</label>
      <input type="file" placeholder="Subir foto de usuario" (change)="fileChangeEvent($event)">
    </p>

    <input type="submit" value="{{title}}" class="btn btn-success" [disabled]="!userEditForm.form.valid" />

  </form>


</div>
