    <!-- bloque general -->
    <div class="publications-block">

      <h1 class="titulo3 heading3-black-bold col-auto"> {{title}}
      </h1>

      <!-- bloque izquierdo de publicaciones -->
      <div id="publications">
        <div *ngFor="let publication of publications" class="item-publication col-12">
          <div class="card">
            <div class="card-body">


              <!-- bloque imagen izquierda -->
              <div class="bloque-imagen-izquierda">
                <a class="" href="">
                  <!-- Imprimimos la url de la api -->
                  <img class="image-user" src="{{url + 'get-image-user/'+publication.user.image}}"
                    *ngIf="publication.user.image">
                  <img class="image-user" src="assets/no-user.png" *ngIf="!publication.user.image">
                </a>
              </div>
              <!-- fin bloque imagen izquierda-->


              <!-- bloque-user-text-derecha -->
              <div id="bloque-user-text-derecha">
                <span class="user-name">
                  {{publication.user.name + ' '+ publication.user.surname}}
                </span>
                &nbsp;|&nbsp;
                <span class="date">
                  <!-- OPERATIVA PARA SACAR LA FECHA DE CREACIÓN DE LA PUBLICACIÓN:
                      1. Created_at es el timestamp 
                      2. Le paso la pipe amFromUnix para que transforme el timestamp a formato de fecha clásico
                      3. Le paso la pipe para que lo saque en español con amLocale: 'es'
                      4. Le paso la pipe amTimeAgo para que calcule desde la fecha de creación
                    -->
                  {{publication.created_at | amFromUnix | amLocale: 'es' | amTimeAgo}}
                </span>
                <h4 class="publication-text">
                  {{publication.text}}
                </h4>
              </div>
              <!-- fin bloque-user-text-derecha -->


            </div>
          </div>
        </div>

        <!-- bloque botón infinito -->
        <div class="col-lg-12 mt-3 text-center ">
          <p>
            <!-- Este botón se mostrará cuando noMore sea false -->
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
              Var más publicaciones
            </button>
          </p>
        </div>
        <!-- fin bloque botón infinito -->

      </div>
      <!-- fin bloque izquierdo de publicaciones -->

      <div class="text-center mt-5 pb-5" *ngIf="noMore">
        <h2>No existen más publicaciones</h2>
      </div>

    </div>
    <!-- fin bloque general -->
