.publications-block {
    
    padding: 0 15px 0 15px;

    .titulo3 {
        margin: 15px 0px 15px 0px;
        padding: 0px 0px 15px 15px;
    }

    // bloque timeline
    #publications {

        .item-publication:first-child {
            margin-top: 0em;
        }

        .item-publication {
            margin: 15px 0px;
            padding: 0px;

            .card-body {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 5px 35px;

                .bloque-imagen-izquierda {
                    margin-right: 15px;
                    display: flex;
                    align-items: center;
                    padding: 0px;
                    overflow: hidden;
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;

                    .image-user {
                        height: auto;
                        width: 100%;
                    }

                }
            }
        }
    }
}