@import '../../../assets/mixins.scss';
@import '../../../assets/functions.scss';
@import '../../../assets/variables.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";

.contenedor {
    display: flex;
    flex-direction: row;
    padding:0px !important;
}

.people{
    padding: 0px 0.5% 0 1% !important;
}

.titulo3{
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 15px 15px;
}

.card {
    margin: 15px 0px;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.imagen-texto {
    display: flex;
}

.float-left-img {
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.item-user .image-user {
    height : auto;
    width: 100%;
}

.float-left-data{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 0;
    p{margin:0}

}



.item-user .user-name {
    font-weight: bold;
    color: #555
}

.item-user .nick-name {
    color: #ccc
}

.float-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .boton-mas {
        margin-right: 6px;
    }

    .icono-menos {
        margin-right: 5px;
    }

    .boton-prev,
    .boton-next {
        margin-right: 35px;
    }
}

.pagination .btn-light {
    text-decoration: none;
}

sidebar {
    width: 80%;
    padding: 0px 1% 0 0.5% !important;
    height: 100%;
}