#mis-datos {
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 15px 0px;

}

.card {
    padding: 10px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card .avatar {
    padding: 0px;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 40px;
    .imagen {
        height: auto;
        width: 100%;
    }
}

.card .name-surname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 2em;
    font-weight: bold;
    font-size: 19px;

    a {
        color: #555;
    }

    p {
        color: #969393;
    }

}

.card .nickname {
    margin-top: 10px;
    margin-bottom: 0;
}


div .separador-horizontal {
    background-color: #e0e0e0;
    height: 2px;
    width: 100%;
    margin-top:15px;
}

// bloque estadísticas
.card .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 0 10px 0;
    a{
        text-decoration: none;
    }
   
}



div .separador-vertical {
    background-color: #e0e0e0;
    height: 100%;
    width: 2px;
    
}

.card .label-stats,
.card .number-stats {
    display: block;
    text-align: center;
    font-weight: bold;
    transition: all 300ms;
}

.card .label-stats {  
    color: #555;
}

.card .number-stats {
 color: green;
} 

.card .number-stats:hover {  
    color: #cc1717 !important;
}


// Panel publicación

#new-publication{
    padding:20px 5px !important;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}