<div id="sidebar-block">

  <h1 class="heading3-black-bold" id="mis-datos">Hola, {{identity.name}}!! </h1>

  <!-- Inicio bloque card -->
  <div class="card d-flex flex-row p-0">

    <!-- bloque avatar -->
    <div class="avatar col-auto">
      <img class="imagen" src="{{url+'get-image-user/'+identity.image}}" *ngIf="identity.image">
      <img src="assets/no-user.png" *ngIf="!identity.image">
    </div>
    <!-- fin bloque avatar -->

    <!-- bloque info usuario -->
    <div class="name-surname col-6">

      <a [routerLink]="['/perfil', identity._id]">
        {{identity.name +' '+identity.surname}}
      </a>

      <p class="nickname">
        {{identity.nick}}
      </p>

    </div>
    <!-- fin bloque info usuario -->

    <!-- div separador horizontal -->
    <div class="separador-horizontal"></div>

    <!-- bloque estadísticas -->
    <div class="stats col-12">

      <!-- bloque-siguiendo -->
      <div class="following-data">
        <a [routerLink]="['/siguiendo', identity._id, 1]">
          <span class="label-stats">
            Siguiendo
          </span>
          <span class="number-stats">
            {{stats.following}}
          </span>
        </a>
      </div>
      <!-- fin bloque-siguiendo -->

      <!-- div separador vertical-->
      <div class="separador-vertical"></div>

      <!-- bloque-seguidores -->
      <div class="following-data">
        <a [routerLink]="['/seguidores', identity._id, 1]">
          <span class="label-stats">
            Seguidores
          </span>
          <span class="number-stats">
            {{stats.following_me}}
          </span>
        </a>
      </div>
      <!--fin bloque-seguidores -->

      <!-- div separador vertical-->
      <div class="separador-vertical"></div>

      <!-- bloque-publicaciones -->
      <div class="following-data">
        <a [routerLink]="['/perfil', identity._id]">
          <span class="label-stats">
            Publicaciones
          </span>
          <span class="number-stats">
            {{stats.publications}}
          </span>
        </a>
      </div>
      <!--fin bloque-publicaciones -->

    </div>
    <!-- fin bloque estadísticas -->

  </div>
  <!-- fin bloque card -->

  <!-- Formulario de publicaciones -->
  <div id="new-publication" class="col-auto card d-flex flex-row p-0">

    <h3>Crear publicación</h3>
    <div class="alert-success" *ngIf="status=='success'">Publicación enviada!!</div>
    <div class="alert-danger" *ngIf="status=='error'">Publicación fallida!!</div>

    <!-- Al llamar al evento ngSubmit, ejecutamos evento onSubmit pasándole como parámetro:
         1. el id del formulario y 2. el $event-->
    <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-lg-12 mx-auto">

      <p>
        <label>¿Qué estás pensando hoy?</label>
        <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
        <span *ngIf="!text.valid && text.touched"> Has olvidado escribir el texto</span>
      </p>

      <p>
        <label>Sube tu foto</label>
        <!-- aplicamos el evento fileChangeEvent y le pasamos el parámetro $event -->
        <input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)" />
      </p>

      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid" />

    </form>

  </div>
</div>
