<div class="col-lg-5 register">

  <h1 class="heading3-black-bold">{{title}}</h1>

  
  <div class="alertDiv" *ngIf="status=='success'">
    <span class="text-alert-success">Logueado correctamente, bienvenido!!</span>
    <a class="btn btn-md btn-primary" [routerLink]="['/home']" routerLinkActive="['active']">
      <span class="login-link">Área de usuario</span>
    </a>
  </div>

  
  <div class="alertDiv alert-danger" *ngIf="status=='error'">
    <span class="text-alert-error"> Logueo incorrecto, inténtalo de nuevo!!</span>
  </div>


  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

    <p>
      <label>Correo eletrónico</label>
      <!-- tipo email -->
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <span class="text-danger" *ngIf="!email.valid && email.touched">El correo no es correcto!!</span>
    </p>

    <p>
      <label>Contraseña</label>
      <!-- tipo password -->
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
        required />
      <span class="text-danger" *ngIf="!password.valid && password.touched">La contraseña es obligatoria</span>
    </p>

    <input type="submit" value="{{title}}" class="text-button-success btn btn-success"
      [disabled]="!loginForm.form.valid" />

  </form>

</div>
