@import '../../../../assets/functions.scss';
@import "../../../../assets/variables.scss";
@import '../../../../assets/mixins.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";

.navbar,
.container-fluid {
    background-color: rgb(167, 0, 0);
    margin-bottom: 2em;
}

h4 {
    position: relative;
    margin-top: 8px;

    @include nosize-tablet {
        display: flex;
        align-self: center;
        flex: auto;
        margin-top: 8px;
    }
}

.nav-link {
    padding: 15px 0px;

    @include nosize-tablet {
        max-width: 115px;
        padding-left: 15px;
    }
}

.navbar-collapse {
    @include mobile-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


.navbar-nav .menu-avatar {
    color: white !important;
    background-color: #dc3545;
    font-size: 1.3em;
}


.nav-link:hover {
    background-color: white;
    color: red !important;
}

.user-nav:hover {
    background-color: unset;
    color: white !important;
}

.nav.navbar-nav {
    @include nosize-tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;

    @include nosize-tablet{
        margin-bottom: 25px;
    }

    //Avatar del main-menu
    .menu-avatar {
        border-radius: 100px;
        @include tablet-desktop {
            @include foto-height($size46px, $scale1, null);
        }

        @include nosize-tablet {
            @include foto-width($size165px, $scale1, null);
        }
    }

}

.dropdown-menu {
    margin: unset;
    text-align: left;
    background-color: white !important;
    // .far .fa-user-circle {
    //     font-size: 6em !important;
    // }

    @include nosize-tablet {
        background-color: #dc3545;
        border: none;
        color: white;
        padding-top: 0;
    }

    @include tablet-desktop {
        left: -60px;
        margin-bottom: .5em;
        background-color: unset;
        width:170px;
    }

    .dropdown-item {
        @include nosize-tablet {
            color: white !important;
            margin-bottom: 10px;
            max-width: 120px;
            width:115px;
            // background-color: #dc3545;
        }
    }

    .dropdown-item:hover {
        font-weight: bolder;
    }

    .dropdown-item:active {
        background: unset;
        color: #dc3545;
    }
}