<div class="container-fluid bg-danger">

  <!-- Con la propiedad expand le indico en que punto aparece el toggler -->
  <nav class="navbar pb-0 pt-0 navbar-expand-md navbar-dark bg-danger">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <h4>{{title}}</h4>
    </a>

    <!-- Botón muestra/oculta menú -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Bloque colapsable -->
    <div class="collapse navbar-collapse pb-0 pt-0" id="navbarSupportedContent">

      <!-- Elementos izquierda -->
      <ul class="navbar-nav" *ngIf="identity">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="['active']">
            <span> <i class="menu-icons-left fas fa-home"></i></span>
            Inicio
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/timeline']" routerLinkActive="['active']">
            <span><i class="menu-icons-left fas fa-list"></i></span>
            Timeline
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/gente']" routerLinkActive="['active']">
            <span><i class="menu-icons-left fas fa-users"></i></span>
            Gente
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/mensajes']" routerLinkActive="['active']">
            <span><i class="menu-icons-left fas fa-envelope"></i></span>
            Mensajes
          </a>
        </li>

      </ul>
      <!-- Fin elementos izquierda -->


      <div></div> <!-- Div para separar y centrar -->


      <!-- Elementos derecha -->
      <ul class="nav navbar-nav" *ngIf="!identity">

        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/login']" routerLinkActive="['active']">
            <span><i class="fas fa-sign-in-alt"></i></span>
            Login
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link active" [routerLink]="['/registro']" routerLinkActive="['active']">
            <i class="fas fa-user-plus"></i>
            Registro
          </a>
        </li>
      </ul>
      <!-- Fin elementos derecha -->

      <!-- Menu usuario -->
      <ul class="nav navbar-nav" *ngIf="identity">

        <!-- Pintamos la url de la imagen -->
        <li class="avatar-container">
          <img class="menu-avatar" src="{{url + 'get-image-user/'+ identity.image}}" *ngIf="identity && identity.image">
        </li>

        <!-- Dropdown menu -->
        <li class="nav-item dropdown active">
          <a class="user-nav nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button"
            aria-haspopup="true" aria-expanded="false">
            {{identity.name }} {{identity.surname}}
          </a>

          <!-- Items plegados -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Item 1 menu usuario -->
            <li>
              <a [routerLink]="['/perfil', identity._id]" class="dropdown-item">
                <span><i class="menu-icons-left fas fa-users"></i></span>
                Mi perfil
              </a>
            </li>
            <!-- Fin item 1 menu usuario -->
            <!-- Item 2 menu usuario -->
            <li>
              <a class="dropdown-item" [routerLink]="['/mis-datos']" routerLinkActive="['active']">
                <span class="mr-1"><i class="fas fa-cog"></i></span>
                Mis datos
              </a>
            </li>
            <!-- Fin item 2 menu usuario -->
            <!-- Item 3 menu usuario -->
            <li>
              <a class="pointer dropdown-item" (click)="logout()">
                <span class="mr-1"><i class="fas fa-sign-out-alt"></i></span>
                Cerrar sesión
              </a>
            </li>
            <!-- Fin item 3 menu usuario -->
          </ul>
          <!-- Fin items plegados -->
        </li>
        <!-- Fin dropdown menu -->
      </ul>
      <!-- Fin menu usuario -->
    </div>
    <!-- Fin bloque colapsable -->
  </nav>
  <!-- Fin navbar expand -->
</div>
<!-- Fin container fluid -->
