<div class="wrapper">

  <div class="sidebar nav flex-column nav-pills" role="tablist">
    <h3>{{title}}</h3>
    <a class="nav-link" data-toggle="pill" [routerLink]="['enviar']">Enviar mensaje</a>
    <a class="nav-link" data-toggle="pill" [routerLink]="['recibidos']">Mensajes recibidos</a>
    <a class="nav-link" data-toggle="pill" [routerLink]="['enviados']">Mensajes enviados</a>
    <a class="nav-link" data-toggle="pill" [routerLink]="['/home']">Información</a>
  </div>


  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
