.wrapper {
    display: grid;
    padding: 0px 20px;
    grid-template-columns: 40% auto;
    grid-template-areas:
        "sidebar  content"
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}